body{
    background-color: #4d4d4d;
    color: #e3e3e3;
}
footer{
    float: bottom;
    width:100%;
}
::-webkit-scrollbar {
    width: 0px;
}
h{
    text-align: left;
}
#footerCenter{
}
.container{
    text-align: center;
}
#usernametxt{
    left: 0px;
}
#userSettings{
    text-align: left !important;
}