body{
    background-color: #4d4d4d;
    color: #e3e3e3;
}
footer{
    position: absolute !important;
    float: bottom;
    margin: 50px 0;
}
::-webkit-scrollbar {
    width: 0px;
}
h{
    text-align: left;
}
#footerCenter{
left: 50px;
}
.container{
    text-align: center;
}